.button {
  padding: 15px 50px;
  background: #ff7f27;
  border: 5px solid #f71d25;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  &_narrow {
    font-size: 20px;
    padding: 10px 50px;
    display: block;
    margin: 0 auto;
  }
  &_green {
    background: green;
  }
}
