.head {
  background: #000000;
  padding: 30px 20px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    color: #ffffff;
    text-transform: uppercase;
  }
}
